
{% extends "layout.twig" %}

{% block content %}

<div class="corner-container">
	<div class="corner left">
	</div>
	<div class="corner right">
	</div>
</div>

<div class="wrapper clearfix">
	<header class="bk-header">
		{% if pages|length > 1 %}
		    {{widget('extendednavigation', 'navigationheader', {})|raw}}
		{% endif %}
        <div class="companyheader">
        	<hgroup>
        	{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
	            {{widget('content', 'headercontent', {"content":"<h3>100% FRESH FOOD</h3>"})|raw}}
	            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	            {{widget('content', 'headercontent1', {"content":"<h3>BAR &amp; GRILL</h3>"})|raw}}
	        </hgroup>
        </div>
	</header>
	<div class="background">
        {{widget('menusections', 'menusections1', {})|raw}}
        {{widget('menu', 'menu1', {})|raw}}
	</div>
</div>

<footer class="bk-footer">
	<div class="corner-container">
		<div class="corner leftbottom">
		</div>
		<div class="corner rightbottom">
		</div>
	</div>
</footer>

{% endblock %}
